*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
input, select, textarea{
  outline: none;
  border: 0px solid white;
  font-family: inherit;
  resize: none;
}

a{
  text-decoration: none;
}
ul{
  list-style-type: none;
}
html, body{
  width: 100%;
  height: 100%;
}


@font-face {
  font-family: poppinslight;
  src: url(fonts/static/Poppins-Light.ttf);
}

@font-face {
  font-family: poppinsmedium;
  src: url(fonts/static/Poppins-Medium.ttf);
}

@font-face {
  font-family: poppinsbold;
  src: url(fonts/static/Poppins-Bold.ttf);
}

@font-face {
  font-family: poppinsRegular;
  src: url(fonts/static/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppinsxbold;
  src: url(fonts/static/Poppins-ExtraBold.ttf);
}


@font-face {
  font-family:  poppinssemibold;
  src: url(fonts/static/Poppins-SemiBold.ttf);
}




@font-face {
  font-family:  Poppinsmedium;
  src: url(fonts/static/Poppins-Medium.ttf);
}

body{
  background: #E8E8E8;
  font-family: poppinsRegular;
}

header{
  background: black;
  color: white;
  display: grid;
  grid-template-columns: 40% 20% 40%;
  position: fixed;
  width: 100%;
  height: 60px;
}



.p-header-left{
  display: block;
  float: left;
  width: 90%;
  margin-left: 5%;
  margin-top: 5px;
}

.p-header-right{
  display: block;
  float: left;
  width: 90%;
  margin-left: 5%;
  margin-top: 5px;
}

.p-header-left ul{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
}

.p-header-left ul li{
  line-height: 50px;
  text-align: center;
}




.p-header-right ul{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.p-header-right ul li{
  line-height: 50px;
  text-align: center;
}
.p-header-mid{
  display: flex;
  flex-direction: row;
  justify-content: center;
}



@media(min-width: 600px) {
  
  .colored-border{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border: 0px solid white;
    border-radius: 55px;
    background-image: linear-gradient(to right, #0077FF, red);
    margin-top: 5px;
  }

  .logo-img{
    max-width: 80px;
    clip-path: circle();
  }
  
  .welcome-banner-content{
    display: block;
    width: 40%;
    color: white;
    font-size: 50px;
    margin: 0px auto;
    margin-top: 10%;
    text-align: center;
  }
  .welcome-banner-content h1{
    background: -webkit-linear-gradient(left, #0077FF, lightblue, #9969ff, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: poppinsbold;
    font-size: 60px;
  }
  .welcome-banner{
    display: block;
    float: left;
    width: 100%;
    height: 90%;
    background-image: linear-gradient(to bottom right, rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url("images/a_photo_of_a_developer_coding_with_three_monitors_blue_shirt_and_a_cup_of_coffee_with_a_tshirt.jpeg");
    background-size: cover;
    background-position: 0% 20%;
    background-repeat: no-repeat;
    padding-bottom: 3%;
  }
  .buttons-area{
    display: flex;
    width: 80%;
    margin: 0px auto;
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .prt{
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 4%;
    row-gap: 10px;
  }
  
  .prt-main{
    width: 100%;
    height: 250px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80% 20%;
    row-gap: 10px;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 20px;
    text-align: left;
    text-indent: 20px;
  }
  footer{
    display: block;
    float: left;
    width: 100%;
    height: 50px;
    background: black;
    color: white;
    text-align: center;
    line-height: 50px;
  }
}

@media (max-width: 600px) {
  .colored-border{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 0px solid white;
    border-radius: 55px;
    background-image: linear-gradient(to right, #0077FF, red);
    margin-top: 15px;
  }

  .about-me-content h2{
    text-align: center;
  }

  .logo-img{
    max-width: 50px;
    clip-path: circle();
  }
  .welcome-banner-content{
    display: block;
    width: 80%;
    color: white;
    font-size: 50px;
    margin: 0px auto;
    margin-top: 35%;
    text-align: center;
  }
  .welcome-banner-content h1{
    background: -webkit-linear-gradient(left, #0077FF, lightblue, #9969ff, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: poppinsbold;
    font-size: 40px;
  }

  .welcome-banner{
    display: block;
    float: left;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url("images/a_photo_of_a_developer_coding_with_three_monitors_blue_shirt_and_a_cup_of_coffee_with_a_tshirt.jpeg");
    background-size: cover;
    background-position: 0% 20%;
    background-repeat: no-repeat;
    padding-bottom: 3%;
  }

  .buttons-area{
    display: flex;
    width: 90%;
    margin: 0px auto;
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .prt{
    display: grid;
    grid-template-columns: 100%;
    row-gap: 10px;
  }

  .prt-main div p{
    font-size: 90%;
    text-align: center;
    padding-bottom: 10px;
  }

  .prt-main{
    width: 100%;
    height: 250px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 75% 25%;
    row-gap: 10px;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 20px;
    text-align: left;
  }
  

  footer{
    display: block;
    float: left;
    width: 100%;
    min-height: 50px;
    background: black;
    color: white;
    text-align: center;
    line-height: 30px;
  }

  .p-header-left, .p-header-right{
    visibility: hidden;
  }
}




.small-text{
  font-size: 17px;
}


.btn-gradient{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 50px;
  border: 0px solid white;
  border-radius: 10px;
  background-image: linear-gradient(to right, #0077FF, red);
}

.btn-gradient input{
  background: black;
  color: white;
  padding: 2%;
  width: 96%;
  height: 90%;
  margin: 0px auto;
  border-radius: 10px;
  cursor: pointer;
  font-family: poppinssemibold;
}

.btn-gradient input:hover{
  background: white;
  color: black;
  transition: all 0.5s ease;
}

.about-me-div{
  display: block;
  float:left;
  width: 100%;
  min-height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("images/an_astronaut_floating_in_space_with_the_nigerian_flag_on_his_arm.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.educ-me-div{
  display: block;
  float:left;
  width: 100%;
  min-height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("images/college.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.prof-me-div{
  display: block;
  float:left;
  width: 100%;
  min-height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("images/14633116_1126288884074906_3408746127416419613_o.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.free-me-div{
  display: block;
  float:left;
  width: 100%;
  min-height: 60%;
  background-image: linear-gradient(rgba(50, 0, 200, 0.7), rgba(50, 0, 255, 0.7)),url("images/free.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about-me-content{
  display: grid;
  grid-template-columns: auto;
  row-gap: 50px;
  width: 80%;
  margin: 0px auto;
  margin-top: 70px;
  margin-bottom: 70px;
}

.abm{
  display: grid;
  grid-template-columns: auto;
  row-gap: 10px;
  width: 100%;
  border: 0px solid red;
  border-radius: 30px;
  min-height: 270px;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  text-align: center;
}

.abm h2{
  font-size: 40px;
  font-weight: bolder;
  background: -webkit-linear-gradient(right, #0077FF, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.abm ul{
  display: grid;
  grid-template-columns: auto;
  row-gap: 10px;
  line-height: 25px;
}
.abm p{
  font-size: 18px;
}




.prti{
  background: lightgrey;
  border: 0px solid white;
  border-radius: 20px;
  width: 100%;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 2px 1px #E8E8E8;
}


#prt1{
  background-image: url('images/Screenshot 2024-05-06 153836.png');
}

#prt2{
  background-image: url('images/Screenshot 2024-04-26 090458.png');
}

#prt3{
  background-image: url('images/Screenshot 2024-05-06 153048.png');
}

#prt4{
  background-image: url('images/Screenshot 2024-05-06 153116.png');
}


